.projects {
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.pro-content {
  width: 300px;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .pro-content {
    min-width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .pro-content {
    min-width: 500px;
  }
}
