.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.link {
  color: #6e6a6a;
  text-decoration: none;
}
.link:visited {
  color: #6e6a6a;
}
#project {
  padding: 50px;
  background-color: #eaeaea;
}

.banner .work-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 10vw;
  font-weight: bolder;
  color: #6e6a6a;
  transform: translate(-50%, -50%);
}
.pro-content {
  width: 30%;
  margin: 10px;
  /* border: 1px solid #000; */
  border-radius: 15px;
  text-align: center;
  background: #252a34;
  color: #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pro-content img {
  height: 200px;
  object-fit: cover;
}
.profile-content p {
  margin-right: 10px;
  margin-left: 10px;
}
.title-style {
  font-weight: bold;
  padding: 10px;
}
.content-style {
  padding: 15px;
  text-align: justify;
  /* background-color: #b6b5b5; */
}
.location-pic {
  width: 250px;
  border: 1px solid gray;
}

.project-link {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  margin: 0 10px;
}
/* @media screen and (max-width: 320px) {
  .pro-content {
    width: 250px;
  }
  .work-text {
    font-size: 50px !important;
  }
} */
.info {
  font-size: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .pro-content {
    width: 80%;
  }
  .work-text {
    font-size: 50px !important;
  }
  .location-pic {
    width: 250px;
  }
  #project {
    padding: unset !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .pro-content {
    width: 60%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .pro-content {
    width: 30%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .pro-content {
    width: 30%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .pro-content {
    width: 20% !important;
  }
}
/* @media only screen and (min-width: 2500px) {
  .pro-content {
    width: 10% !important;
  }
} */

@media only screen and (min-width: 2560px) {
  #project {
    width: 1366px;
    margin: 50px 0;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  }
  #projects {
    height: 25vh !important;
  }
}
