.about-more {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: relative; */
}

.about {
  /* max-width: 1366px; */
  padding: 50px;
  /* height: calc(100vh - 120px); */
  text-align: justify;
  align-self: center;
  background-color: #eaeaea;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    transform 0.2s cubic-bezier(0.4, 0, 1, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    -webkit-transform 0.2s cubic-bezier(0.4, 0, 1, 1);
}
.about ::-webkit-scrollbar {
  display: none;
}
.about p {
  font-size: 1em;
}
.skills p {
  font-size: 1em;
}
.skill-item {
  width: 50%;
  margin: 0 10px;
}
img {
  overflow: hidden;
}
.center {
  text-align: center !important;
  font-size: 25px;
}
.profile-pic {
  width: auto;
  height: 50%;
  text-align: center;
}
.profile-content {
  width: 50%;
}
.profile-pic img {
  width: 300px;
  height: auto;
}
.familar-with {
  background-color: darkgrey;
  color: #fff;
  height: 30%;
  display: block;
  padding: 50px;
  width: calc(100vw - 100px);
  max-width: 1366px;
}
.container {
  border-radius: 5px;
  background-color: darkgray;
  text-align: center;
}
#skills {
  background-color: #252a34;
  color: #eaeaea;
  padding: 50px;
  width: -webkit-fill-available;
  width: -moz-available;
}
/* #skills:not(:last-child) {
  padding: 50px;
} */
.skills {
  padding: 10px 50px 30px;
  display: flex;
  justify-content: space-around;
}
.col {
  border-radius: 5px;
  background-color: #ff2e63 !important;
  color: #fff;
  font-size: 1em;
}
.skill-col {
  width: 100%;
  padding: 0px 10px;
}
.familar-with ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.familar-with li {
  padding: 3%;
  margin: 5px;
  font-size: 35px;
}
.project-link {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}
/* .profile-pic {
  position: absolute;
  left: 5%;
  top: 50%;
  animation: aboutpic ease 3s;
  -webkit-animation: aboutpic ease 3s;
  -moz-animation: aboutpic ease 3s;
  -o-animation: aboutpic ease 3s;
  -ms-animation: aboutpic ease 3s;
}
.profile-content {
  position: absolute;
  top: 100px;

  right: 5%;
  animation: aboutcontent ease 3s;
  -webkit-animation: aboutcontent ease 3s;
  -moz-animation: aboutcontent ease 3s;
  -o-animation: aboutcontent ease 3s;
  -ms-animation: aboutcontent ease 3s;
}

@keyframes aboutcontent {
  from {
    opacity: 0;
    right: -50%;
    transition-timing-function: ease;
  }
  to {
    opacity: 1;
    transition-timing-function: ease;
  }
}
@keyframes aboutpic {
  from {
    opacity: 0;
    left: -50%;
    transition-timing-function: ease;
  }
  to {
    opacity: 1;
    transition-timing-function: ease;
  }
} */

@media screen and (max-width: 600px) {
  .about-more {
    display: block !important;
    text-align: -webkit-center;
    font-size: 20px;
  }

  .about {
    padding: 20px;
    overflow-y: hidden;
  }
  .skill-col,
  .skill-item {
    width: auto;
  }
  .skills {
    padding: 20px;
    padding-bottom: 50px;
    flex-direction: column;
  }
  .skills p {
    font-size: 2em;
  }
  .col {
    font-size: 2em;
  }
  .profile-pic,
  .profile-content {
    width: 100%;
  }
  .familar-with ul {
    display: inline-block;
  }
  .skill-col p {
    font-size: 8px;
    font-weight: bold;
  }
  .skills p {
    font-size: 15px !important;
  }
  #skills {
    padding: unset !important;
  }
}
@media screen and (min-width: 768px) {
  .familar-with li {
    font-size: 20px;
  }
}
@media screen and (min-width: 2560px) {
  .about {
    margin: 50px;
    max-width: 1366px;
  }
  .familar-with p {
    font-size: 50px;
  }
  .familar-with {
    margin-bottom: 50px;
  }
  .familar-with li {
    font-size: 40px;
  }
  #skills {
    margin: 0 0 50px;
    width: 1366px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  }
}
