.about-more {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about {
  display: block;
  padding: 30px;
  margin: 20px;
  font-size: 2vw;
  text-align: justify;
}
.skills p {
  font-size: 2vw;
}
img {
  overflow: hidden;
}
.center {
  text-align: center !important;
  /* font-size: 20px; */
}
.profile-pic,
.profile-content {
  width: 50%;
  text-align: center;
}
.profile-pic img {
  /* width: 300px; */
  height: auto;
}
.familar-with {
  background-color: darkgrey;
  color: #fff;
  height: 30%;
  display: block;
  padding: 20px;
}
.container {
  border-radius: 5px;
  background-color: darkgray;
  text-align: center;
}
.skills {
  padding: 10px 50px 30px;
  display: flex;
  justify-content: space-around;
}
.col {
  border-radius: 5px;
  background-color: rgb(3, 46, 46) !important;
  color: #fff;
  font-size: 2vw;
}
.skill-col {
  width: 40%;
  padding: 0px 10px;
}
.familar-with ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.familar-with li {
  padding: 3%;
  margin: 5px;
  font-size: 4vw;
}
.project-link {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .about-more {
    display: block !important;
    text-align: -webkit-center;
  }
  .skill-col {
    width: 100%;
  }
  .skills {
    flex-direction: column;
  }
  .profile-pic,
  .profile-content {
    width: 100%;
  }
  .familar-with ul {
    display: inline-block;
  }
}
