.header {
  width: -webkit-fill-available;
}
.banner {
  position: relative;
  height: 100vh;
  width: -webkit-fill-available;
}
p {
  font-size: 15px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome {
  position: absolute;
  top: 50%;
  left: 5%;
  font-weight: bolder;
  color: #fff;
  font-size: 2vw;
}
