.contact {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact img {
  text-align: center !important;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner .contact-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20vw;
  font-weight: bolder;
  color: #6e6a6a;
  transform: translate(-50%, -50%);
}

input,
textarea {
  width: 100%;
  padding: 5px;
  margin: 5px;
}

.info {
  display: flex;
  flex-direction: column;
}
.info i {
  padding: 5px;
}
i::before {
  margin: 5px;
}

@media screen and (max-width: 940px) {
  /* input,
  textarea {
    width: 60%;
  } */
  /* .contact img {
    width: 80% !important;
  } */
}

@media screen and (max-width: 600px) {
  .contact {
    display: block;
  }
  /* .contact-text {
    font-size: 50px !important;
  } */
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* .contact-text {
    font-size: 150px !important;
  } */
}
@media screen and (max-width: 320px) {
  .contact input,
  textarea {
    width: 90%;
  }
  .info i {
    font-size: 15px;
  }
}
